body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    flex-direction: column;
}

x3d{
    width: 60vw;
    height: 60vh;
}